version: 2
updates:
# Fetch and update latest `npm` packages
- package-ecosystem: npm
  directory: '/'
  schedule:
    interval: daily
    time: '00:00'
  open-pull-requests-limit: 10
  reviewers:
    - drschlaubi
  assignees:
    - drschlaubi
  commit-message:
    prefix: fix
    prefix-development: chore
    include: scope
# Fetch and update latest `github-actions` pkgs
- package-ecosystem: github-actions
  directory: '/'
  schedule:
    interval: daily
    time: '00:00'
  open-pull-requests-limit: 10
  reviewers:
    - drschlaubi
  assignees:
    - drschlaubi
  commit-message:
    prefix: fix
    prefix-development: chore
    include: scope
  # Fetch and update latest `gradle` pkgs
- package-ecosystem: gradle
  directory: '/discord-bot'
  schedule:
    interval: daily
    time: '00:00'
  open-pull-requests-limit: 10
  reviewers:
    - drschlaubi
  assignees:
    - drschlaubi
  commit-message:
    prefix: fix
    prefix-development: chore
    include: scope
  # Fetch and update latest `gradle` pkgs
- package-ecosystem: gradle
  directory: '/twitter-bot'
  schedule:
    interval: daily
    time: '00:00'
  open-pull-requests-limit: 10
  reviewers:
    - nycodeghg
  assignees:
    - nycodeghg
  commit-message:
    prefix: fix
    prefix-development: chore
    include: scope
